#
# huawei touchscreen driver configuration
#


source "drivers/devkit/tpkit/panel/focaltech/Kconfig"
source "drivers/devkit/tpkit/panel/synaptics/Kconfig"
source "drivers/devkit/tpkit/panel/parade/Kconfig"
source "drivers/devkit/tpkit/panel/novatek/Kconfig"
source "drivers/devkit/tpkit/panel/ilitek/Kconfig"
source "drivers/devkit/tpkit/panel/novatek_hybrid/Kconfig"
source "drivers/devkit/tpkit/panel/himax/Kconfig"
source "drivers/devkit/tpkit/panel/goodix/Kconfig"
