config CHR_NETLINK_MODULE
	tristate "kernel space communicate with user space use chr netlink socket."
    default n
    help
	  This module adds support for data speed slow detecting and web chr statistics
	  funtions based on TCPIP stack.
