config HUAWEI_P_SENSORS_PA224
    tristate "pa224 proximity sensors"
    depends on I2C
	default n
	help
	  Say Y here if you want to build a driver for pa224 proximity sensor chip.
	  To compile this driver as a module, choose M here: the module will be called pa224. If unsure, say N here.


config HUAWEI_L_SENSORS_ROHM_RGB_BH1745
	tristate "ROHM RGB_BH1745 als sensors"
	depends on I2C
	default n
	help
	  Say Y here if you want to build a driver for RGB_BH1745 ambient light sensor chip.
	  To compile this driver as a module, choose M here: the module will be called bh1745. If unsure, say N here.
config HUAWEI_L_SENSORS_APDS9251
	tristate "Avago APDS9251  als  sensors"
	depends on I2C
	default n
	help
	  Say Y here if you want to build a driver for Avago APDS9251 ambient light sensor chip.
	  To compile this driver as a module, choose M here: the module will be called apds9251. If unsure, say N here.
config HUAWEI_P_SENSORS_APDS9110
	tristate "Avago APDS9110  ps  sensors"
	depends on I2C
	default n
	help
	  Say Y here if you want to build a driver for Avago APDS9110 proximity sensor chip.
	  To compile this driver as a module, choose M here: the module will be called apds9110. If unsure, say N here.
